{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <h1>Hello and Welcome to the Movie App</h1>
        <p>This app is about my Fav Movies</p>
        <img src="../images/zurassic_park.jpeg" alt="image of oranges" height="200px">
    </div>
{% endblock %}