{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/movies" method="POST">
            <fieldset>
                <legend>The Movie You WAnted to Watch.....</legend>
                <label class="form-label">Name:</label>
                <input 
                    type="text" class="form-control" 
                    name="name" placeholder="What kind of movie is it?"
                    required
                >
                <label class="form-label">Genre:</label>
                <input 
                    class="form-control" 
                 " placeholder="What type of Movie is this ?"
                    required
                >
                <select id="cars">
  <option value="LOTR">LOTR</option>
  <option value="Titanic">Titanic</option>
  <option value="Avatar">Avatar</option>
  <option value="Zurassic_World"> Zurassic_World</option>
  <option value="SpiderMan"> Spider Man</option>
  <option value="Kissing_Booth"> Kissing_booth</option>

</select>
                <label class="form-label">PGRated:</label>
                <input 
                    type="checkbox" class="form-check-control" 
                    name="PgRated"
                >
            </fieldset>
            <input type="submit" class="btn btn-success" value="Make Your Type">
        </form>
    </div>
{% endblock %}